@model string; 

@{
    ViewData["Title"] = "NonTrouve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h3>@Model</h3>
    <img src="/images/personne3.jpg" />
</div>

